@use "../../theme" as *;
@use "../../widgets/MediaPlayer/MediaPlayer.scss";
@use "./panels/notification.scss";
@use "./panels/bluetooth.scss";
@use "./panels/wifi.scss";

window#RightSidebar {
  background-color: transparent;

  .sidebar {
    color: $fg1;
    background-color: $bg1;
    padding: 16px;
    margin: 8px;
    border: none;
    border-radius: 24px;
    box-shadow: 0px 0px 5px rgba(black, 0.7);

    .UserModule {
      background-color: $bg2;
      padding: 6px;
      border-radius: 12px;
      box-shadow: 0px 0px 5px rgba(black, 0.2);
      .UserImg {
        min-width: 36px;
        min-height: 32px;
        border-radius: 32px;
        background-position: center;
        background-size: cover;
        margin-right: 8px;
      }
      label {
        font-family: $font2;
        padding-right: 4px;
      }
      .Username {
        font-weight: 800;
        font-size: 16px;
      }
      .Uptime {
        font-weight: 700;
        color: rgba($fg1, 0.7);
        font-size: 12px;
      }
    }
    .Wifi,
    .Bluetooth,
    .doNotDisturb,
    .nightLight {
      transition-duration: 350ms;
      margin-top: 8px;
      border-radius: 20px;
      box-shadow: 0px 0px 5px 0px rgba(black, 0.5);
      .Icon {
        font-family: $font1;
        font-size: 32px;
        padding-left: 8px;
      }
      .Description {
        font-family: $font2;
        padding-left: 6px;
        margin: 8px 0px;
        & label:first-child {
          font-weight: 700;
        }
        & label:last-child {
          font-weight: 500;
        }
      }
      .enabled,
      .disabled {
        padding: 2px 4px;
        border-radius: 20px;
        min-width: 170px;
      }
      .enabled {
        color: $bg1;
        background-color: $accent;
      }
      .disabled {
        color: rgba($fg1, 0.8);
        background-color: $bg2;
      }
    }
    .Bluetooth .Icon {
      padding-right: 2px;
    }

    .doNotDisturb .Icon {
      padding: 0 8px 0 12px;
    }
    .Wifi .Description {
      padding-left: 10px;
    }
    .nightLight .Icon {
      padding: 0 6px 0 12px;
    }

    .playersButtons {
      background-color: transparent;
      button {
        margin-top: 4px;
        margin-right: 4px;
        padding: 0 4px;
        &:last-child {
          margin-right: 0;
        }
      }
      .enabled {
        background-color: rgba($accent, 0.4);
      }
      .disabled {
        background-color: transparent;
      }
    }
  }
}
