@use "../../theme" as *;

window.Launcher {
  background: transparent;
  color: $fg1;

  .Content {
    background: $bg1;
    min-width: 400px;
    border-radius: 12px;
    padding: 8px;

    .App {
      background-color: $bg2;
      margin: 4px 0px;
      .Icon {
        padding-right: 6px;
      }

      &:last-child {
        margin-bottom: 0px;
      }
    }
    .WebSearchMode {
      .Icon {
        font-size: 64px;
      }
    }
    .WallpaperMode {
      margin-top: 4px;
      .Wallpaper {
        background-color: $bg2;
        min-width: 380px;
        margin: 4px 0px;
        &:last-child {
          margin-bottom: 0px;
        }
        .Image {
          min-height: 50px;
          min-width: 100px;
          background-position: center;
          background-size: cover;
          border-radius: 8px;
          margin-right: 6px;
        }
      }
    }
  }
}
